
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name='full-screen' content='true' />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>mobile-fe</title>
    <link rel="stylesheet" href="<%= BASE_URL %>/icon/iconfont.css">
    <script src="<%= BASE_URL %>/config.js"></script>
    <!-- <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script> -->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but mobile-fe doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- <script src="/js/signalr.min.js" type="text/javascript"></script> -->
    <!-- built files will be auto injected -->
    
  </body>
</html>
